<style type="text/css">
    .public-popup{position:fixed;top:0;bottom:0;left:0;width:100%;background-color:rgba(0,0,0,0.5);z-index:999999;font-size:14px;}
    .public-popup.loading{background-color:transparent;}
    .public-popup h4{font-size:16px;color:#222;font-weight: normal;}
    .public-popup .button {-webkit-box-flex:1;border-radius:0;width:50%;height: 50px;line-height: 50px;font-size: 16px;outline:none;color:#007AFF;background-color:#fff;}
    .public-popup .modal-header{line-height:32px;padding:12px 12px 0;}
    .public-popup .modal-body{padding:4px 12px 15px;font-size: 14px;color:#222; text-align: left;}
    .public-popup .modal-footer{ display:-webkit-box;border-top-width:1px;}
    .public-popup .modal-dialog{text-align:center;}
    .public-popup .modal-content{background-color:#fff;border-radius:5px;overflow:hidden ;}
    .public-popup .modal-footer .cancel{border-right-width:1px;}
    .public-popup .button.active{background-color:#D9D9D9;}
    .public-popup .content-ajax{background-color:rgba(0,0,0,0.78);padding:15px 12px;text-align:center;color:#fff;line-height:1.8em;}
    .public-popup .content-ajax img{width:16px;height:16px;margin-bottom:2px;}
</style>
<script type="text/javascript">
        $.dialog=function(obj){
            var option = $.extend({
                title:"提 示",
                content:"确认操作",
                btncancel:"取消",
                btnsure:"确定",
                closetime:0,//自动关闭时间
                width:290,//"100,auto,100%"
                loading:null,
                sure:function(){},
                cancel:function(){}
            },obj);
            var html  = '<div class="modal public-popup{{if loading}} loading{{/if}}">\
                        <div class="modal-dialog" style="position:absolute;left:50%;">\
                        {{if loading}}\
                            <div class="modal-content content-ajax {{loading.type}}">\
                                {{if loading.type=="loading"}}<img src="_WEB_/images/loading.gif"/>{{/if}}\
                                <div class="loading-text">{{#loading.text}}</div>\
                            </div>\
                        {{else}}\
                            <div class="modal-content">\
                                {{if title}}\
                                <div class="modal-header">\
                                    <h4 class="modal-title">{{title}}</h4>\
                                </div>\
                                {{/if}}\
                                {{if content}}\
                                <div class="modal-body">{{#content}}</div>\
                                {{/if}}\
                                {{if btncancel || btnsure}}\
                                <div class="modal-footer border-1px">\
                                    {{if btncancel}} \
                                        <div class="button btn-default cancel border-1px" data-ac="active">'+option.btncancel+'</div> \
                                    {{/if}} \
                                    {{if btnsure}}\
                                        <div class="button btn-primary sure" data-ac="active">'+option.btnsure+'</div>\
                                    {{/if}}\
                                </div>\
                                {{/if}}\
                            </div>\
                        {{/if}}\
                        </div>\
                    </div>';
            var render = template.compile(html);
            html = $(render(option));
            if(option.closetime){
                setTimeout(function(){
                    html.remove();
                },option.closetime);
            }
            $(".public-popup").remove();
            $("body").append(html);
            html.on("touchmove",function(e){e.preventDefault()});
            var dialog = html.find(".modal-dialog").css({"margin-top":0,"width":option.width});
            if(dialog.height()< $(window).height()){
                var top = $(window).height()/2 - dialog.height()/2;
                dialog.css("top",top);
            }else{
                var h1 = $(window).height(),h2 = $("body").height();
                html.css({"position":"absolute","top":"0","left":0,"width":"100%","height":h1>h2?h1:h2});
            }
            dialog.css({"margin-left":-dialog.width()/2});
            html.find(".cancel,.close").one("click",function(){
                option.cancel();
                $(this).closest(".public-popup").remove();
            });
            html.find(".sure").one("click",function(){
                option.sure();
                $(this).closest(".public-popup").remove();
            });
            if($(".modal-body").height()<60){
                $(".modal-body").css({"text-align":"center"});
            }
        }
        $.dialog.close=function(){
            $(".public-popup").remove();
        }
</script>