<style>
    .layer {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: #000000;
        opacity: 0.4;
        display:none;
        z-index:9;
    }
</style>
<div class="layer"></div>
<script type="text/javascript">    
    yk.core.common.registerNamespace("yk.core.component.layer");
    (function(ns){
        //初始化
        ns.show = function () {
            $(".layer").show();
            
        },
        ns.hide = function () {
            $(".layer").hide();
        }
        ns.eventBind = function (callback) {
            $(".layer").on("click", function () {
                callback();
            });
        }
    })(yk.core.component.layer);
</script>
