<style>
    .search-div {             
        background-color: #00ABEC;        
        padding:0px 10px;        
    }
    .search-btn-icon {
        float:right;
    }
    .search-btn-icon:before {
        content: '\e60e';
        color: #efefef;
    }
    .search-table {
        width:100%;
        height:50px;
        border:0px;
        vertical-align:middle;
    }
    .search-div input {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        border: 0;
        -webkit-appearance: none;
        -webkit-user-select: text;
        border-radius: 5px;
        box-sizing: border-box;
        height:30px;
    }
</style>
<div class="search-div">
    <table class="search-table">
        <tr>
            <td><input type="text" placeholder="搜索关键字" id="key" name="k"></td>
            <td style="width:20px;"><span class="search-btn-icon iconfont"></span></td>
        </tr>
    </table>
</div>

<script type="text/javascript">    
    yk.core.common.registerNamespace("yk.core.component.search");
    (function(ns){
        //初始化
        ns.init = function (callback) {
            $(".search-btn-icon").on("click", function () {
                callback($("#key").val());
            });
        }
    })(yk.core.component.search);
</script>
