<style>
    .addImg {
        position:fixed;
        bottom:20px;
        right:20px;
        z-index:10;
    }
</style>
<a class="addImg" href="@ViewData["Url"]"><img src="@Url.Content("~/Images/pig/new_add_focus.png")"/></a>