<?xml version="1.0" encoding="utf-8"?>
<webset>
  <info>
    <openOrcloseWeb>0</openOrcloseWeb>
    <Website>www.mknet.com</Website>
    <WebName>广州梦科网络科技有限公司</WebName>
    <Email>871339677@qq.com</Email>
    <Address>广州天河区员村山顶东景花园C座1601</Address>
    <ZipCode>510000</ZipCode>
    <Phone>13560172834</Phone>
    <Copyright>版权所有 广州梦科网络科技有限公司 Copyright 2009-2011</Copyright>
    <DuplicateWebpage>0</DuplicateWebpage>
    <ICP>北京市公安局海淀分局备案号20113654 京ICP备123456789号 企业营业执照</ICP>
    <KeyWord>网站制作，网站设计</KeyWord>
    <Description>网站制作，网站设计</Description>
    <Fax>
    </Fax>
    <TQ>&lt;SCRIPT LANGUAGE="JavaScript" src=http://float2006.tq.cn/floatcard?adminid=9319281&amp;sort=0 &gt;&lt;/SCRIPT&gt;</TQ>
  </info>
</webset>