@{
    ViewBag.Title = "色盲测试";
}

<style>
    #colors {
        text-align:center;
        margin-top:30px;
    }
    .TopTip {
        padding:10px 20px;
        text-align:right;
        height:40px;
    }
    #colors select {
        width:100px;
        text-align:center;
        height:30px;
    }
    .complete {
        text-align:center;
        line-height:50px;
        display:none;
        padding-top:50px;
    }
    .fraction {
        color:red;
        font-size:40px;
    }
</style>

@Html.Partial("~/Views/Vision/Header.cshtml")

<div class="color-main">
    <div class="TopTip">
    </div>
    <div id="colors">
        <img id="imgUrl" src="" style="width:276px;height:276px;" />
        <br /><br />
        <select id="start">
        </select>
        <select id="end">
        </select>
    </div>
</div>

<div class="submitCss">
    <input type="button" value="确认输入" onclick="submitInput()" />
</div>  

<div class="complete">
    <span class="fraction"></span> 分
    <div class="complete-text"></div>
</div>

<script type="text/javascript">

    var allColors = [];
    allColors.push({
        url: "/dist/images/colorblindness/1.png",
        value: 10
    });
    allColors.push({
        url: "/dist/images/colorblindness/2.png",
        value: 6
    });
    allColors.push({
        url: "/dist/images/colorblindness/3.png",
        value: 57
    });
    allColors.push({
        url: "/dist/images/colorblindness/4.png",
        value: 18
    });
    allColors.push({
        url: "/dist/images/colorblindness/5.png",
        value: 6
    });

    for (var i = 0; i < 10; i++) {
        var option = '<option value="' + i + '">' + i + '</option>';
        $("#start").append(option);
        $("#end").append(option);
    }
			 
    $("#imgUrl").attr("src", allColors[0].url);

    var currentIndex = 0;
    var successCount = 0;
    var failCount = 0;
    //确认输入
    function submitInput() {
        if (currentIndex >= allColors.length) {
            return;
        }
        var value = parseInt($("#start").val()) * 10 + parseInt($("#end").val());
        $("#start").val("0");
        $("#end").val("0");

        if (allColors[currentIndex].value == value) {
            successCount++;
            $(".TopTip").append("<img src='/dist/images/colorblindness/dui.png'>");
        } else {
            failCount++;
            $(".TopTip").append("<img src='/dist/images/colorblindness/cuo.png'>");
        }
        if (failCount == 4) {
            $(".complete-text").html("您有很大几率是色盲患者");
            submitResult();
            return;
        }
        if (currentIndex == allColors.length - 1) {            
            $(".complete-text").html("恭喜您，您没有色盲的症状");
            submitResult();
            return;
        }
        
        currentIndex++;
        $("#imgUrl").attr("src", allColors[currentIndex].url);
    }

    //提交结果
    function submitResult(result) {
        
        $(".submitCss").hide();
        $(".color-main").hide();
        $(".complete").show();
        $(".fraction").html((5 - failCount) * 20);
        $.ajax({
            url: "saveColorBlindness",
            type: 'post',
            data: { result: successCount },
            dataType: 'json',
            success: function (_data) {
                if (_data.isSuccess == 1) {
                    
                } else {
                    $.dialog({
                        title: '操作失败',
                        content: _data.message,
                        btncancel: false
                    });
                }
            },
            error: function () {
                $.dialog({
                    closetime: 2000,
                    loading: {
                        text: '请求失败，请稍后重试'
                    }
                });
            }
        });
    }
</script>
