@{
    ViewBag.Title = "Header";
}
<style>
    body {
        background-color:#fff;
    }
    .vision-header {
        background-color: gray;
        width: 100%;
        text-align: center;
        border: 0px;
        line-height:35px;
    }
    .vision-header a {
        color: white;
        display:block;
        line-height:35px;
        width:100%;
    }
</style>
<table class="vision-header">
    <tr>        
        <td><a href="ColorBlindness">颜色敏感度检查</a></td>
        <td><a href="Color">色盲检查</a></td>
    </tr>
</table>
