@{
    Layout = "~/Views/Backend/Shared/_Layout.cshtml";
    }
@RenderBody()
<div class="main">
        <div class="content full">
            <!--右侧自适应-->
            <div class="wrapper">
                <!--各部分独立出来-->
                <div class="suite-center">
                    <ul class="suites">

                        <li class="suite-item">
                            <div class="suite-type clearfix">
                                <div class="suite-detail">
                                    <div class="suite-name">
                                        <h4><span class="jq_name">明源云办公</span><span class="app-num">(包含<span class="num">5</span>个应用)</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="suite-app">
                                <ul class="u_app clearfix">
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img class="app-img" src="http://qy-ci.mysoft.com.cn/images/mReport_640.png" alt="">
                                            </div>
                                            <div class="app-name">移动报表</div>
                                            <div class="deposit-status bind">已托管</div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-app-info?mysoft_app_id=6">设置应用</a></li>
                                                <li class="app-backend"><a href="http://qy-ci.mysoft.com.cn/report/my56a9c966df069/home/report/list?__from=wx" target="_blank">应用后台</a></li>

                                                <li class="cancel-deposit deposit"><a href="javascript:void(0)">取消托管</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img class="app-img" src="http://qy-ci.mysoft.com.cn/images/mPlan_1228.png" alt="">
                                            </div>
                                            <div class="app-name">移动计划</div>
                                            <div class="deposit-status bind">已托管</div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-app-info?mysoft_app_id=7">设置应用</a></li>
                                                <li class="app-backend"><a href="http://qy-ci.mysoft.com.cn/plan/my56a9c966df069/settings/basic/data-init" target="_blank">应用后台</a></li>

                                                <li class="cancel-deposit deposit"><a href="javascript:void(0)">取消托管</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img class="app-img" src="http://qy-ci.mysoft.com.cn/images/mWorkflow_640.png" alt="">
                                            </div>
                                            <div class="app-name">移动审批</div>
                                            <div class="deposit-status bind">已托管</div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-app-info?mysoft_app_id=8">设置应用</a></li>

                                                <li class="cancel-deposit deposit"><a href="javascript:void(0)">取消托管</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img class="app-img" src="http://qy-ci.mysoft.com.cn/images/mNews_640.png" alt="">
                                            </div>
                                            <div class="app-name">管理简讯</div>
                                            <div class="deposit-status bind">已托管</div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-app-info?mysoft_app_id=9">设置应用</a></li>

                                                <li class="cancel-deposit deposit"><a href="javascript:void(0)">取消托管</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img class="app-img" src="http://qy-ci.mysoft.com.cn/images/mNotice_640.png" alt="">
                                            </div>
                                            <div class="app-name">公告</div>
                                            <div class="deposit-status unbind">未托管</div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-app-info?mysoft_app_id=11">设置应用</a></li>
                                                <li class="app-backend"><a href="http://qy-ci.mysoft.com.cn/my56a9c966df069/notice/index/new-add" target="_blank">应用后台</a></li>

                                                <li class="deposit-wx deposit"><a href="/my56a9c966df069/appcenter/suite/auth-app?myapp_id=11">托管到微信</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--第三方应用-->
                        <li class="suite-item third-part">
                            <div class="suite-type clearfix">
                                <div class="suite-detail">
                                    <div class="suite-name">
                                        <h4><span class="jq_name">第三方应用</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="suite-app">
                                <ul class="u_app clearfix">
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <img src="http://oss-mytest.mysoft.com.cn/0000/applogos/91494b8770d1d7d5993b32c7c7f2f5d5.png" alt="">
                                            </div>
                                            <div class="app-name">APITEST</div>
                                            <div class="deposit-status bind"></div>
                                            <ul class="app-menu">
                                                <li class="app-setting"><a href="/my56a9c966df069/appcenter/app/edit-third-app?app_key=third56ef648a2da92">设置应用</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--添加第三方应用-->
                                    <li class="app-detail">
                                        <div class="app-icon">
                                            <div>
                                                <a class="app-img add-app" href="/my56a9c966df069/appcenter/app/create-app"></a>
                                            </div>
                                        </div>
                                        <div class="app-name">新增应用</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>